body {
    background-color: whitesmoke;
}
footer {
    background-color: #447C2A;
}
.column {
  margin: auto;
  float: left;
  width: 25%;
  padding: 5px;
}
.row::after {
  width: 90%;
  margin: auto;
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 400px) {
  .column {
    width: 50%;
  }
}
